[submodule "vue_jwt_frontend"]
	path = vue_jwt_frontend
	url = https://github.com/derrick921213/vue_jwt_frontend.git
	branch = main
[submodule "rust_jwt_backend"]
	path = rust_jwt_backend
	url = https://github.com/derrick921213/rust_jwt_backend.git
	branch = main
